---
layout: default
author_profile: false
---
<link href="https://fonts.googleapis.com/css?family=Aref+Ruqaa|Bellefair|Cormorant|Cormorant+Garamond|Cormorant+Infant|EB+Garamond|IM+Fell+DW+Pica+SC|Kotta+One|Sahitya|Zilla+Slab" rel="stylesheet">
<div id="main" role="main">
  {% include sidebar.html %}

  <div class="archive">
    <h1 class="page__title">{{ page.title }}</h1>
    {% include base_path %}
    {% for post in page.posts %}
      {% include archive-single.html %}
    {% endfor %}
  </div>
</div>