---
layout: compress
---
<link href="https://fonts.googleapis.com/css?family=Aref+Ruqaa|Bellefair|Cormorant|Cormorant+Garamond|Cormorant+Infant|EB+Garamond|IM+Fell+DW+Pica+SC|Kotta+One|Sahitya|Zilla+Slab" rel="stylesheet">
{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    </script>

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
